#gameboard {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 40px;
  width: 40px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: rgb(249, 249, 242);
}

.green {
  background-color: rgb(38, 172, 80);
}

